.contenedor-responsive {
    background-color: #FFFFFF;
    /* width: 90%;
    max-width: 1000px; */
    width: min( 90%, 1000px );
    height: 400px;
    margin: 0 auto;
    margin-inline: auto;
}

@media ( min-width: 768px ) {
    .tres-columnas-flex {
        display: flex;
        gap: 2rem;
    }

    .columna {
        flex-grow: 1;
    }

    .tres-columnas-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}