.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
}

.precio {
    font-size: 4rem;
    margin: 0;
}

/* Desktop-first usa max-width */
/* Recordar siempre el orden en cascada de CSS */
/* Colocar los media-queries del mas grande al mas peque */
@media ( max-width: 800px ) {
    .oferta {
        max-width: 40rem;
    }
}

@media ( max-width: 600px ) {
    .oferta {
        max-width: 100%;
    }
} 
